doctype html
html
  head
    block title
      title teleofis
      
    include includes/meta
    include includes/styles
    include includes/scripts
    
  body
    include includes/header
    
    section.container-fluid
      block content
        h1 teleofis
    
    include includes/footer
