// start /components/files/

link( rel="stylesheet", href="/components/files/style.css" )
script( src="/components/files/script.js" )

.b-files
  
  h4 Раздел
  .row
    .col-sm-4
      //Режим редактирования
      #bx_incl_area_1
        include file-card
      
    hr.i-size-S.visible-xs-block
      
    .col-sm-4
      //Режим редактирования
      #bx_incl_area_2
        include file-card
      
    hr.i-size-S.visible-xs-block
      
    .col-sm-4
      //Режим редактирования
      #bx_incl_area_3
        include file-card-2
      
  hr.hidden-xs
  hr.i-size-S.visible-xs-block
  
  .row
    .col-sm-4
      include file-card-3
      
    hr.i-size-S.visible-xs-block
      
    .col-sm-4
      include file-card-2
      
    hr.i-size-S.visible-xs-block
      
    .col-sm-4
      include file-card
      
hr.i-size-L.i-no-line
  
.b-files
  h4 Раздел
  .row
    .col-sm-4
      include file-card
      
    hr.i-size-S.visible-xs-block
      
    .col-sm-4
      include file-card
      
    hr.i-size-S.visible-xs-block
      
    .col-sm-4
      include file-card-2

// end /components/files/