
<div class="b-file-card">
  <div class="b-file-card__placeholder">
    <div class="b-ph__img"></div>
    <div class="b-ph__text">
      <div class="b-ph__line1"></div>
      <div class="b-ph__line2"></div>
    </div>
  </div><a class="b-file-card__content" href=""><span class="b-file-card__img" style="background-image: url( '/template/images/icons/pdf-icon.svg' );"></span><span class="b-file-card__text">Паспорт RX100-R4 (rel.2.0) r.2.11 (2019-11-12)<span class="text-muted">pdf 65 Kb</span></span></a>
</div>